@import "../../scss/Colors.scss";
.activity {
    height: 460px;
    width: 100%;
    margin-top: 30px;
    padding: 35px;
    background-color: white;
    font-size: 13px;
    &__title {
        display: flex;
        margin-bottom: 30px;
    }
    &__table {
        width: 100%;
    }
}

.title {
    &__main {
        margin-right: 10px;
        font-weight: 900;
        font-size: 20px;
        color: $first-color;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        color: $secondary-color;
    }
}

.table {
    &__item {
        height: calc(400px / 6);
    }
    &__time {
        font-weight: 900;
        font-size: 13px;
        color: $first-color;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $fift-green;
    }
    &__name-item {
        min-width: 100px;
    }
    &__updated-list {
        margin-bottom: 5px;
        font-weight: 900;
        color: $first-color;
    }
    &__name {
        color: $secondary-color;
    }
    &__data-activity {
        font-weight: 900;
        color: $secondary-color;
    }
}