.header {
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__item {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.header__logo__item {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__right__notifications {
    display: flex;
    margin: 0 25px;
}