@import "../../scss/Colors.scss";
.sales-report {
    min-width: 300px;
    max-width: 300px;
    margin: 25px;
}

.sales-report__title {
    font-size: 20px;
    color: $first-color;
    font-weight: 900;
    margin-bottom: 25px;
}

.sales-report__header {
    font-size: 13px;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sales-report__informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    border-collapse: separate;
    height: 55px;
    font-size: 13px;
}

.informations__provider {
    font-weight: 900;
}

.sales-report__cell {
    text-align: start;
}

.sales-report__cell:nth-child(1),
.informations__number {
    width: 10%;
}

.sales-report__cell:nth-child(2),
.sales-report__cell:nth-child(3),
.informations__row {
    width: 40%;
}

.informations {
    align-items: center;
    padding: 10px;
}

.informations:hover {
    background-color: white;
    border-radius: 5px;
}


/*
.informations__row,
.sales-report__cell {
    padding: 10px 20px;
}

.informations__row,
.informations__number {
    height: 50px;
}

.sales-report__informations {
    font-size: 13px;
    color: $first-color;
    border-radius: 5px;
    padding: 15px 0;
    background-color: rebeccapurple;
    border-collapse: separate;
    margin: 50px;
}

.informations__provider {
    font-weight: 900;
}

 */