@import "../../scss/Colors.scss";
.price-statistic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 100%;
}

.price-statistic__title {
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    color: $first-color;
}

.price-statistic__informations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
}

.price-statistic__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

img {
    max-width: 630px;
    max-height: 180px;
}

@media screen and (max-width: 1430px) {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}