@import "../../scss/Colors.scss";
.oil-gas-providers {
    background-color: white;
    padding: 35px 45px;
    margin: 30px 30px 0 0;
    height: 460px;
}

.title {
    font-size: 20px;
    color: $first-color;
    font-weight: 900;
    margin-bottom: 30px;
}

.oil-gas-row {
    padding: 5px;
    font-size: 12px;
}

.oil-gas-table {
    height: 25px;
    margin: 35px 0;
}

.first-chart {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.factory-name {
    font-weight: 600;
    color: $first-color;
}

.location {
    color: $secondary-color;
    padding-left: 50px;
}