@import "../../scss/Colors.scss";
.oil-gas-providers {
    background-color: white;
    padding: 35px 45px;
    margin: 30px 30px 0 0;
    height: 460px;
    &__title {
        font-size: 20px;
        color: $first-color;
        font-weight: 900;
        margin-bottom: 40px;
    }
    &__table {
        display: flex;
        flex-direction: column;
    }
}

.oil-gas-table {
    font-size: 12px;
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    &__circle {
        height: 30px;
        margin: 15px 0;
        font-size: 13px;
    }
    &__chart {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__factory-name {
        font-weight: 600;
        color: $first-color;
        width: 30%;
        margin-left: 5px;
        min-width: 60px;
    }
    &__location {
        color: $secondary-color;
        width: 50%;
        margin-left: 5px;
        min-width: 150px;
    }
}