.main-content {
    margin: 10px;
}

.header {
    height: 70px;
    position: fixed;
    z-index: 1;
}

.main {
    width: calc(100% - 70px);
    position: absolute;
    left: 70px;
    top: 70px;
    height: calc(100% - 70px);
    overflow-y: auto;
}

.sidebar {
    width: 70px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
}