.dashboard__left__cardAvg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard__left {
    display: flex;
    flex-wrap: wrap;
}

.dashboard {
    display: flex;
}