.dashboard__left__cardAvg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.dashboard__left {
    flex-wrap: wrap;
    max-width: 985px;
    margin: 25px;
}

.dashboard {
    display: flex;
}