.dashboard {
    display: flex;
}

.dashboard__left {
    flex-wrap: wrap;
    margin: 25px;
}

.dashboard__left__cardAvg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.dashboard__left__tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
    height: fit-content;
}

.oil-gas-provider {
    flex: 1 0 50%;
}

.activity {
    flex: 1 0 50%;
}

@media screen and (max-width: 1410px) {
    .dashboard__left__cardAvg {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1100px) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }
}