@import "../../../scss/Colors.scss";
.oil-info {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}

.oil-card {
    display: flex;
}

.oil-card__chart {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-right: 12px;
    font-size: 16px;
}

.oil-card__info {
    font-size: 13px;
}

.oil-card__chart:nth-child(1) {
    color: rgba(69, 150, 209, 1);
    background-color: rgba(69, 150, 209, 0.5);
}

.oil-card__chart:nth-child(2) {
    background-color: rgba(255, 81, 81, 0.5);
    color: rgba(255, 81, 81, 1);
}

.oil-card__chart:nth-child(3) {
    background-color: rgba(255, 181, 71, 0.5);
    color: rgba(255, 181, 71, 1);
}

.name {
    display: flex;
    flex-direction: row;
}

.name__title {
    font-weight: 900;
    margin-right: 5px;
    margin-bottom: 5px;
    color: $first-color;
}

.price {
    font-size: 13px;
    color: $secondary-color;
}